<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Error</title>
       
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <form action="" method="post">
            <input type="submit" value="generate Error">
        </form>
    </body>
</html>
